server:
  port: 8080

spring:
  application:
    name: easyhire-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/easyhire_db
    username: postgres
    password: 12345678

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.springframework.web: INFO

jwt:
  secret: 5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437
  expiration: 3600000 # 1 hour